.contact
    div(class="l-container")
        h2.section-title.dark-section-title Contact
            .section-title-bare
        p.contact-des Une question, une suggestion? contactez nous!
        form
            input(type="text",name="name",placeholder="Name:", required="required")
            input(type="tel",name="tel",placeholder="Téléphone:", required="required")
            input(type="email",name="email",placeholder="Email:", required="required")
            textarea(name="msg", cols="30", rows="10",placeholder="Votre message...:", required="required")
            button(type="submit", class="btn  btn-send") Envoyer