div.footer
    a(href="#"): i.fa.fa-facebook-official.fa-3x.fb
    a(href="#"): i.fa.fa-twitter.fa-3x.fb
    a(href="#"): i.fa.fa-instagram.fa-3x.fb
    a(href="#"): i.fa.fa-youtube.fa-3x.fb
    a(href="#"): p.copyright   &copy Guysolamour  - 2017 All rights reserved