div   
    header.l-header#header
        .header__icon#header__icon
        .logo
            a(href="#"): img(src="img/logo.png", alt="guysolamour logo")
            
        nav.menu
            a(href="#home",class="scroll hvr-underline-from-left",id='home') Acceuil
            a(href="#about",class="scroll hvr-underline-from-left",id='about') A propos
            a(href="#skills",id='skills',class="scroll hvr-underline-from-left", class="is-active") Compétences
            a(href="#works",class="scroll hvr-underline-from-left",id='works') Réalisations
            a(href="#contact",class="scroll hvr-underline-from-left",id='contact') Contact     
        
    

    
