div   
    header.l-header#header
        .header__icon#header__icon
        .logo
            a(href="#"): img(src="img/logo.png", alt="guysolamour logo")
            
        nav.menu
            a(href="#home") Acceuil
            a(href="#about") A propos
            a(href="#skills", class="is-active") Compétences
            a(href="#works") Réalisations
            a(href="#contact") Contact     
        
    

    