header.l-header
    div(class="l-header--top")
        .logo
            img(src="img/logo.png", alt="guysolamour logo")
        .menu
            img(src="../img/icons/menu.png", alt="")
            
    div(class="l-header--bg")
        .header-baseline
            .header-baseline-l1 Salut, moi c'est #[strong Guy-roland ASSALE]
            .header-baseline-l2 développeur et intégrateur web

    div(class="down-arrow")
        img(src="../img/icons/down-arrow.png", alt="")

    