header.l-header#header
    div(class="l-header--top",data-sticky)
        .logo
            a(href="#"): img(src="img/logo.png", alt="guysolamour logo")
        img#header--icon(src="../img/icons/menu.png", alt="", style={cursor: 'pointer'})
        nav(class="menu")
            nav
                a(href="#home") Acceuil
                a(href="#about") A propos
                a(href="#skills", class="is-active") Compétences
                a(href="#works") Réalisations
                a(href="#contact") Contact
            
            
    div(class="l-header--bg")
        .header-baseline
            .header-baseline-l1 Salut, moi c'est #[strong Guy-roland ASSALE]
            .header-baseline-l2 développeur et intégrateur web

    div(class="down-arrow")
        img(src="../img/icons/down-arrow.png", alt="")

    