section.skills#skills
    div(class="l-container")
        h2.section-title.dark-section-title Mes compétences
            .section-title-bare
        p.skills-description 
            |Les valeurs en pourcentages sont très subjectives. Les compétences dont les valeurs sont supérieures à 50%
            |sont celles que je maîtrise le mieux et dont je fais usage le plus régulièrement.
        .skills-progress 
            .skills-left
                //- .progress-xs-sub  HTML  
                //- div.progress
                //-     .progress-sub HTML
                //-     .progress-bar-white
                //-     .progress-bar(style={width: '54%'})
                //-     .progress-per 80%
              <div class="flex col-12 col-lg-6">
                <div class="percent">80%</div>
                <div class="progress-container">
                <strong>HTML5, CSS3, PHP</strong>
                <div class="progress">
                  <div class="progress-bar php"></div>
                </div>
              </div>
            </div>
            //-     .progress-xs-sub  CSS  
            //-     div.progress
            //-         .progress-sub CSS
            //-         .progress-bar-white
            //-         .progress-bar.css-bar
            //-         .progress-per 65%
            //-     .progress-xs-sub  JavaScript  
            //-     div.progress
            //-         .progress-sub JavaScript
            //-         .progress-bar-white
            //-         .progress-bar.js-bar
            //-         .progress-per 50%
            //-     .progress-xs-sub  PHP
            //-     div.progress
            //-         .progress-sub PHP
            //-         .progress-bar-white
            //-         .progress-bar.php-bar
            //-         .progress-per 55%
            //-     .progress-xs-sub  MySql
            //-     div.progress
            //-         .progress-sub MySql
            //-         .progress-bar-white
            //-         .progress-bar.sql-bar
            //-         .progress-per 75%
            //-     .progress-xs-sub  Wordpress
            //-     div.progress
            //-         .progress-sub Wordpress
            //-         .progress-bar-white
            //-         .progress-bar.wp-bar
            //-         .progress-per 40%
            //-     .progress-xs-sub  Photoshop
            //-     div.progress
            //-         .progress-sub Photoshop
            //-         .progress-bar-white
            //-         .progress-bar.ps-bar
            //-         .progress-per 40%
            //- .skills-right
            //-     .progress-xs-sub  illustrator  
            //-     div.progress
            //-         .progress-sub Illustrator
            //-         .progress-bar-white
            //-         .progress-bar.illus-bar
            //-         .progress-per 25%
            //-     .progress-xs-sub  Word
            //-     div.progress
            //-         .progress-sub Word
            //-         .progress-bar-white
            //-         .progress-bar.word-bar
            //-         .progress-per 80%
            //-     .progress-xs-sub  Excel
            //-     div.progress
            //-         .progress-sub Excel
            //-         .progress-bar-white
            //-         .progress-bar.excel-bar
            //-         .progress-per 60%
            //-     .progress-xs-sub  jQuery
            //-     div.progress
            //-         .progress-sub jQuery
            //-         .progress-bar-white
            //-         .progress-bar.jq-bar
            //-         .progress-per 45%
            //-     .progress-xs-sub  GIT
            //-     div.progress
            //-         .progress-sub GIT
            //-         .progress-bar-white
            //-         .progress-bar.git-bar
            //-         .progress-per 30%
            //-     .progress-xs-sub  Bootstrap
            //-     div.progress
            //-         .progress-sub Bootstrap
            //-         .progress-bar-white
            //-         .progress-bar.bt-bar
            //-         .progress-per 50%
            //-     .progress-xs-sub  Gulp
            //-     div.progress
            //-         .progress-sub Gulp
            //-         .progress-bar-white
            //-         .progress-bar.gulp-bar
            //-         .progress-per 80%
