div(class="skills")
    h2.section-title.dark-section-title Mes compétences
        .section-title-bare
    p.skills-description 
        |Les valeurs en pourcentages sont très subjectives. Les compétences dont les valeurs sont supérieures à 50%
        |sont celles que je maîtrise le mieux et dont je fais usage le plus régulièrement.
        
    div.progress
        .progress-bar.html-bar
        .progress-sub HTML
        .progress-per 80%
    div.progress
        .progress-bar.css-bar
        .progress-sub CSS
        .progress-per 65%
    div.progress
        .progress-bar.js-bar
        .progress-sub JavaScript
        .progress-per 50%
    div.progress
        .progress-bar.php-bar
        .progress-sub PHP
        .progress-per 55%
    div.progress
        .progress-bar.sql-bar
        .progress-sub MySql
        .progress-per 75%
    div.progress
        .progress-bar.wp-bar
        .progress-sub Wordpress
        .progress-per 40%
    div.progress
        .progress-bar.ps-bar
        .progress-sub Photoshop
        .progress-per 40%
    div.progress
        .progress-bar.illus-bar
        .progress-sub Illustrator
        .progress-per 25%
    div.progress
        .progress-bar.word-bar
        .progress-sub Word
        .progress-per 80%
    div.progress
        .progress-bar.excel-bar
        .progress-sub Excel
        .progress-per 60%
    div.progress
        .progress-bar.jq-bar
        .progress-sub jQuery
        .progress-per 45%
    div.progress
        .progress-bar.git-bar
        .progress-sub GIT
        .progress-per 30%
    div.progress
        .progress-bar.bt-bar
        .progress-sub Bootstrap
        .progress-per 50%
    div.progress
        .progress-bar.gulp-bar
        .progress-sub Gulp
        .progress-per 80%
