div(class="skills")
    h2.section-title.dark-section-title Mes compétences
        .section-title-bare
    p.skills-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    div.progress
        .progress-bar.html-bar
        .progress-sub HTML
        .progress-per 80%
    div.progress
        .progress-bar.css-bar
        .progress-sub CSS
        .progress-per 65%
    div.progress
        .progress-bar.js-bar
        .progress-sub JavaScript
        .progress-per 50%
    div.progress
        .progress-bar.php-bar
        .progress-sub PHP
        .progress-per 55%
    div.progress
        .progress-bar.sql-bar
        .progress-sub MySql
        .progress-per 75%
    div.progress
        .progress-bar.wp-bar
        .progress-sub Wordpress
        .progress-per 40%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
    div.progress
        .progress-bar.seo-bar
        .progress-sub SEO
        .progress-per 30%
