div(class="works")
    h2.section-title Mes compétences
        .section-title-bare
    .realisation
            img(src="../img/work1.jpg", alt="")
            img(src="../img/work2.jpg", alt="")
            img(src="../img/work1.jpg", alt="")
            img(src="../img/work2.jpg", alt="")