doctype html
html
	head
		// build:css ./css/style.min.css
		link(rel="stylesheet", href="css/app.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")

		// endbuild
	body
		include ./_header.jade
		include ./_about.jade
		include ./_skills.jade
		include ./_works.jade
		include ./_contact.jade
		//h1 Hello World
		// build:js ./js/main.min.js
		script(src="js/app.js")
		// endbuild
