ErrorDocument 400 http://localhost:9000/400.php
ErrorDocument 401 http://localhost:9000/401.php
ErrorDocument 402 http://localhost:9000/402.php
ErrorDocument 403 http://localhost:9000/403.php
ErrorDocument 404 http://localhost:9000/404.php
ErrorDocument 405 http://localhost:9000/405.php
ErrorDocument 500 http://localhost:9000/500.php
ErrorDocument 501 http://localhost:9000/501.php
ErrorDocument 502 http://localhost:9000/502.php
ErrorDocument 503 http://localhost:9000/503.php
ErrorDocument 504 http://localhost:9000/504.php
ErrorDocument 505 http://localhost:9000/505.php
