div  
    .l-container
        section(class="about",id="about")
            h2.section-title A propos
                //img(src="../img/icons/is-active.png", alt="", class="section-title-bare")
                .section-title-bare
            .presentation
                .portrait
                    img(src="../img/portrait.png", alt="Photo de Guysolamour")
                .description
                    h3.surname Guysolamour
                    p.
                        Passionné d’informatique et de nouvelles technologies,
                        Je suis depuis de nombreuses années autodidacte dans le domaine de la programmation et en particulier du développement web.
                        J'aime expérimenter, découvrir et apprendre au fur et à mesure de mes projets pros et perso..
                    .detail
                        p.detail-info #[span.detail-info-title Nom:] Guy-roland ASSALE <br>
                        p.detail-info 
                          a(data-confirm,href='mailto:rolandassale@yandex.com') #[span.detail-info-title Email:] #[strong rolandassale@yandex.com?] <br>
                        p.detail-info.detail-tel #[span.detail-info-title Téléphone:] +225 48 393 773 / 03 847 228
