div(class="l-header--bg", id="home")
        .header-baseline
            .header-baseline-l1 Salut, moi c'est #[strong Guy-roland ASSALE]
            .header-baseline-l2 développeur et intégrateur web
            div(class="down-arrow")
                img(src="../img/icons/down-arrow.png", alt="")
