section.contact#contact
    div(class="l-container")
        h2.section-title.dark-section-title Contact
            .section-title-bare
        p.contact-des Une question, une suggestion? contactez nous!
        form#contact-form
            .input-text
                input(type="text",name="name", id="name",placeholder="Nom: Ex: John Doe")
            .input-num
                input(type="number",name="tel", id="tel",placeholder="Téléphone: Ex: 00 00 00 00")
            .input-email
                input(type="email",name="email", id="email",placeholder="Email: Ex: info@domaine.com")
            .input-msg  
                textarea(name="msg", cols="30",, id="msg" rows="10",placeholder="Votre message...:")
            button(type="submit", class="btn  btn-send") Envoyer
