footer.footer#footer
    div.l-container
        div.share
          a(class='facebook', href='https://facebook.com/rolandassale94', target='_blank'): i.fa.fa-facebook
          a(class='twitter', href='https://twitter.com/rolandassale', target='_blank'): i.fa.fa-twitter
          a(class='google-plus', href='https://web.facebook.com/rolandassale94', target='_blank'): i.fa.fa-google-plus
          a(class='linkedin', href='https://linkedin.com/in/guysolamour', target='_blank'): i.fa.fa-linkedin
          hr
          p.copyright Guysolamour  - 2017 All rights reserved
        
    
