div   
    header.l-header#header
        .menu-icon.menu-icon-cross
            span
        .logo
            a(href="#"): img(src="img/logo.png", alt="guysolamour logo")
            
        .menu
            //div(class="hvr-underline-from-left")
            a(href="#about",class="hvr-underline-from-left") Présentation
            a(href="#skills",class="scroll hvr-underline-from-left", class="is-active") Compétences
            a(href="#works",class="hvr-underline-from-left") Réalisations
            a(href="#contact",class="hvr-underline-from-left") Contact     
        
    

    
