section.skills#skills
    div(class="l-container")
        div
            h2.section-title.dark-section-title Mes compétences
                .section-title-bare
            p.skills-description 
                |Les valeurs en pourcentages sont très subjectives. Les compétences dont les valeurs sont supérieures à 50%
                |sont celles que je maîtrise le mieux et dont je fais usage le plus régulièrement.
        .skills-container 
            .skills-left
                .progress-sub HTML
                div.progress-bar
                  .skills.html 80%
                .progress-sub CSS
                div.progress-bar
                  .skills.css 65%
                .progress-sub JavaScript
                div.progress-bar
                  .skills.js 50%
                .progress-sub PHP
                div.progress-bar
                  .skills.php 55%
                .progress-sub MySql
                div.progress-bar
                  .skills.mysql 75%
                .progress-sub WordPress
                div.progress-bar
                  .skills.wp 40%
                .progress-sub Photoshop
                div.progress-bar
                  .skills.ps 45%
            .skills-right
                .progress-sub Illustrator
                div.progress-bar
                  .skills.illus 25%
                .progress-sub Word
                div.progress-bar
                  .skills.word 80%
                .progress-sub Excel
                div.progress-bar
                  .skills.excel 60%
                .progress-sub jQuery
                div.progress-bar
                  .skills.jq 45%
                .progress-sub GIT
                div.progress-bar
                  .skills.git 30%
                .progress-sub Bootstrap
                div.progress-bar
                  .skills.bs 50%
                .progress-sub Gulp
                div.progress-bar
                  .skills.gulp 80%
                
            //-     .progress-xs-sub  CSS  
            //-     div.progress
            //-         .progress-sub CSS
            //-         .progress-bar-white
            //-         .progress-bar.css-bar
            //-         .progress-per 65%
            //-     .progress-xs-sub  JavaScript  
            //-     div.progress
            //-         .progress-sub JavaScript
            //-         .progress-bar-white
            //-         .progress-bar.js-bar
            //-         .progress-per 50%
            //-     .progress-xs-sub  PHP
            //-     div.progress
            //-         .progress-sub PHP
            //-         .progress-bar-white
            //-         .progress-bar.php-bar
            //-         .progress-per 55%
            //-     .progress-xs-sub  MySql
            //-     div.progress
            //-         .progress-sub MySql
            //-         .progress-bar-white
            //-         .progress-bar.sql-bar
            //-         .progress-per 75%
            //-     .progress-xs-sub  Wordpress
            //-     div.progress
            //-         .progress-sub Wordpress
            //-         .progress-bar-white
            //-         .progress-bar.wp-bar
            //-         .progress-per 40%
            //-     .progress-xs-sub  Photoshop
            //-     div.progress
            //-         .progress-sub Photoshop
            //-         .progress-bar-white
            //-         .progress-bar.ps-bar
            //-         .progress-per 40%
            //- .skills-right
            //-     .progress-xs-sub  illustrator  
            //-     div.progress
            //-         .progress-sub Illustrator
            //-         .progress-bar-white
            //-         .progress-bar.illus-bar
            //-         .progress-per 25%
            //-     .progress-xs-sub  Word
            //-     div.progress
            //-         .progress-sub Word
            //-         .progress-bar-white
            //-         .progress-bar.word-bar
            //-         .progress-per 80%
            //-     .progress-xs-sub  Excel
            //-     div.progress
            //-         .progress-sub Excel
            //-         .progress-bar-white
            //-         .progress-bar.excel-bar
            //-         .progress-per 60%
            //-     .progress-xs-sub  jQuery
            //-     div.progress
            //-         .progress-sub jQuery
            //-         .progress-bar-white
            //-         .progress-bar.jq-bar
            //-         .progress-per 45%
            //-     .progress-xs-sub  GIT
            //-     div.progress
            //-         .progress-sub GIT
            //-         .progress-bar-white
            //-         .progress-bar.git-bar
            //-         .progress-per 30%
            //-     .progress-xs-sub  Bootstrap
            //-     div.progress
            //-         .progress-sub Bootstrap
            //-         .progress-bar-white
            //-         .progress-bar.bt-bar
            //-         .progress-per 50%
            //-     .progress-xs-sub  Gulp
            //-     div.progress
            //-         .progress-sub Gulp
            //-         .progress-bar-white
            //-         .progress-bar.gulp-bar
            //-         .progress-per 80%
