section.works#works
    div(class="l-container")
        h2.section-title Mes réalisations
            .section-title-bare
        p.works-description  Une sélection de quelques créations réalisées en milieu professionnel
        .realisation
            .works-container
                a(href="../img/works/work1@2x.jpeg",data-fancybox="group" data-caption="<a href='http://guysolamour.cf' target='_blank'>Guysolamour.cf</a> - Site portofolio ")
                    img(src="../img/works/work1.jpeg", alt="")
                a(href="../img/works/work2@2x.jpeg",data-fancybox="group" data-caption="Réalisation 2")
                    img(src="../img/works/work2.jpeg", alt="")
                a(href="../img/works/work6@2x.jpeg",data-fancybox="group" data-caption="Réalisation 3")
                    img(src="../img/works/work6.jpeg", alt="")
                a(href="../img/works/work4@2x.jpeg",data-fancybox="group" data-caption="Réalisation 4")
                    img(src="../img/works/work4.jpeg", alt="")
                a(href="../img/works/work5@2x.jpeg",data-fancybox="group" data-caption="Guysolamour.cf - Site portofolio ")
                    img(src="../img/works/work5.jpeg", alt="")
                a(href="../img/works/work4@2x.jpeg",data-fancybox="group" data-caption="Réalisation")
                    img(src="../img/works/work4.jpeg", alt="")
                a(href="../img/works/work2@2x.jpeg",data-fancybox="group" data-caption="Réalisation")
                    img(src="../img/works/work2.jpeg", alt="")
                a(href="../img/works/work3@2x.jpeg",data-fancybox="group" data-caption="Réalisation")
                    img(src="../img/works/work3.jpeg", alt="")
