section.works#works
    div(class="l-container")
        h2.section-title Mes réalisations
            .section-title-bare
        p.works-description  Une sélection de quelques créations réalisées en milieu professionnel
        .realisation
            .works-container
                a(href="../img/image-2.jpg",data-fancybox="group" data-caption="<a href='http://guysolamour.cf' target='_blank'>Guysolamour.cf</a> - Site portofolio ")
                    img(src="../img/work1.jpg", alt="")
                a(href="../img/work2.jpg",data-fancybox="group" data-caption="My caption 2")
                    img(src="../img/work2.jpg", alt="")
                a(href="../img/work1.jpg",data-fancybox="group" data-caption="My caption 3")
                    img(src="../img/work1.jpg", alt="")
                a(href="../img/work2.jpg",data-fancybox="group" data-caption="My caption 4")
                    img(src="../img/work2.jpg", alt="")
                a(href="../img/image-2.jpg",data-fancybox="group" data-caption="Guysolamour.cf - Site portofolio ")
                    img(src="../img/work1.jpg", alt="")
                a(href="../img/work2.jpg",data-fancybox="group" data-caption="My caption 2")
                    img(src="../img/work2.jpg", alt="")
                a(href="../img/work1.jpg",data-fancybox="group" data-caption="My caption 3")
                    img(src="../img/work1.jpg", alt="")
                a(href="../img/work2.jpg",data-fancybox="group" data-caption="My caption 4")
                    img(src="../img/work2.jpg", alt="")