doctype html
html
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Guysolamour - Portofolio
		// build:css ./css/style.min.css
		link(rel="stylesheet", href="css/vendor/jquery.fancybox.css")
		link(rel="stylesheet", href="css/vendor/sweetalert.css")
		link(rel="stylesheet", href="css/app.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		// endbuild
	body
		.site-container
			.site-pusher
				include ./_header.pug
				.site-content
					.r-container
						include ./_baseline.pug
						include ./_about.pug
						include ./_skills.pug
						include ./_works.pug
						include ./_contact.pug
						include ./_footer.pug
				div(class="site-cache",id="site-cache")
		//h1 Hello World
		// build:js ./js/main.min.js
		script(src="js/vendor/jquery-3.2.1.min.js")
		script(src="js/vendor/bar.js")
		script(src="js/vendor/jquery.fancybox.min.js")
		script(src="js/vendor/scrollreveal.js")
		script(src="js/vendor/sweetalert.min.js")
		script(src="js/app.js")
		
