.contact {
    // margin-top: 50px;
    background-color: #282828;
    width: 100%;
    //height: rem-convert('rem', 600px);
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    &-des {
        color: $bgc-color;
    }
    input,
    textarea {
        //display: block;
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    textarea {
      resize: none;
      overflow: hidden;
      width: 90%;
    }
}
#contact-form {
  margin: 0 auto;
  //border: 1px solid red;
  width: 90%
}

@media only screen and (min-width: 577px) {
  .contact {
    input, textarea {
      width: 90%;
    }
  }
  .input-text, .input-num {
    display: inline-block;
    width: 45%;
  }
  .input-text {
    padding-right: 4%;
  }
}
@media only screen and (min-width: 993px) {
 
  .input-text, .input-num, .input-email {
    display: inline-block;
    width: 30%;
  }
  .input-text, .input-num {
    padding-right: 1.2%;
  }
}
