.contact {
    // margin-top: 50px;
    background-color: #282828;
    width: 100%;
    height: rem-convert('rem', 576px);
    text-align: center;
    position: relative;
    &-des {
        color: $bgc-color;
    }
    input,
    textarea {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
    }
}
@include screen(rem-convert("rem", 320px),
rem-convert("rem", 480px)){
  .contact {
    input, textarea {
      width: 80%;
    }
}
}
@include screen(rem-convert("rem", 480px),
rem-convert("rem", 576px)) {
  .contact {
    input, textarea {
      width: 70%;
    }
}
}
@include screen(rem-convert("rem", 577px),
rem-convert("rem", 768px)){
  .contact {
    input, textarea {
      width: 85%;
    }
}
}
// VALIDATE CONATCT
// input:required {
//     border: 1px solid red;
// }
// @include screen(rem-convert("rem", 640px), rem-convert("rem", 850px)) {
//     .contact .input-text,
//     .contact .input-num {
//         display: inline-block;
//         width: 40%;
//     }
//     // .contact input[type="email"] {
//     //     width: 83.5%;
//     // }
//     // .contact textarea {
//     //     width: 83.5%;
//     // }
// }
// @include screen(rem-convert("rem", 851px), rem-convert("rem", 1023px)) {
//     .contact .input-text {
//         display: inline-block;
//         width: 41%;
//         height: 100px;
//     }
//     .contact .input-num {
//         display: inline-block;
//         width: 41%;
//         height: 100px;
//     }
// }
// @include min-screen(rem-convert("rem", 1024px)) {
//     .contact .input-text {
//         display: inline-block;
//         width: 41%;
//     }
//     .contact .input-num {
//         display: inline-block;
//         width: 41%;
//     }
// }
