/* ==|====================
   Layout/Footer
   ======================= */

.footer {
    width: 100%;
    height: 150px;
    background-color: #012;
    text-align: center;
}

.fb {
    color: white;
    margin-top: 20px;
    padding: 10px;
    &:hover {
        background-color: lightseagreen;
        border-radius: 100%;
    }
}

.copyright {
    color: $bgc-color;
}