/* ==|====================
   Layout/Header
   ======================= */

.l-header {
    position: relative;
    //width: auto;
    //height: rem-convert("rem", 450px);
    height: auto;
    //background-color: rgba(black, 0.5);
}

// .fixed {
//     position: fixed;
//     top: 0;
//     // width: 100%;
//     z-index: 100;
// }
.down-arrow {
    position: absolute;
    left: 50%;
    bottom: rem-convert("rem", -5px);
    // tac can be used with img
    /*text-align: center;
    margin-top: -50px;*/
}

.l-header--top {
    background-color: #001122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    position: static;
    top: 0;
    width: 100%;
    z-index: 100;
    .logo {
        padding-left: rem-convert("rem", 16px);
    }
    .menu {
        padding-right: rem-convert("rem", 16px);
    }
}

.menu nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    color: white;
    background-color: #ccc;
    height: 100vh;
    transform: translateX(-100%);
    //transition-duration: .3s;
    a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 23px;
        //font-weight: 700;
        border-bottom: 1px solid #ddd;
    }
}

.site-pusher {
    height: 100vh;
    transform: translateX(0px);
    transition-duration: 0.3s;
}

.with--sidebar {
    .site-pusher {
        transform: translateX(250px);
    }
}

.l-header--bg {
    background: url("../img/header.jpg") center top;
    background-size: cover;
    max-width: 100%;
    height: rem-convert("rem", 430px);
}

.header-baseline {
    padding-top: rem-convert("rem", 220px);
    text-align: center;
    color: #ffffff;
    font-size: rem-convert("rem", 25px);
    &-l1 {
        font-weight: bold;
        strong {
            color: #cd2542;
        }
    }
    &-l2 {
        font-family: "20th Century Font";
        font-weight: normal;
    }
}


/**
 *
 * TABLET SCREEN 350 * 639
 *
 */

@include screen(rem-convert("rem", 350px),
rem-convert("rem", 639px)) {
    .header-baseline {
        font-size: rem-convert("rem", 20px);
    }
}


/**
 *
 * TABLET SCREEN 640 * 850
 *
 */

@include screen(rem-convert("rem", 640px),
rem-convert("rem", 850px)) {
    .header-baseline {
        font-size: rem-convert("rem", 33px);
    }
    // .l-header--top {
    //     .menu {}
    // }
    // .site-pusher,
    // .site-container {
    //     height: 100%;
    // }
    // .site-container {
    //     overflow: hidden;
    //     height: 100%;
    // }
    // .site-content {
    //     position: absolute;
    //     // top: 66px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     padding-top: 0;
    //     overflow-y: scroll;
    //     -webit-overflow-scrolling: touch;
    // }
    // .site-pusher {
    //     height: 100%;
    //     transition-duration: 0.3s;
    //     transform: translateX(0);
    // }
    .with--sidebar .site-pusher {
        transform: translateX(250px);
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}


/**
 *
 * DESKTOP SCREEN 851 * 1023
 *
 */

@include screen(rem-convert("rem", 851px),
rem-convert("rem", 1023px)) {
    .menu nav {
        display: block;
    }
    .menu {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        //padding: 5px;
        img {
            display: none;
        }
        a {
            display: inline-block;
            padding: 8px;
        }
    }
    .is-active {
        border-bottom: 3px solid #ff4500;
    }
    .header-baseline {
        font-size: rem-convert("rem", 33px);
    }
}

@include min-screen(rem-convert("rem", 1024px)) {
    .down-arrow {
        bottom: 20px;
    }
    .menu nav {
        display: block;
    }
    .menu {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        //padding: 5px;
        img {
            display: none;
        }
        a {
            display: inline-block;
            padding: 8px;
        }
    }
    .is-active {
        border-bottom: 3px solid #ff4500;
    }
    .header-baseline {
        padding-top: 300px;
        font-size: rem-convert("rem", 55px);
    }
    .l-header--bg {
        height: 700px;
    }
}