// /* ==|====================
//    Layout/Header
//    ======================= */
@mixin menu-hover() {
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

}

$menu-width: 150px !default;
.l-header {
    display: flex;
    position: static;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    //width: auto;
    //height: rem-convert("rem", 450px);
    //height: auto;
    background-color: #012;
    color: white;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    //bottom: 0;
    height: 100%;
    width: $menu-width;
    background-color: rgba(#012,.8);
    transform: translateX(-100%);
    //padding-top: 66px;
    //z-index: 10;
    a {
        font-size: 14px;
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #000;
        color: #6D7A8B;
        font-weight: 900;
        padding: 10px;
    }

}
.menu > a {
  border-top: 1px solid #000;
}

.with--sidebar {
    .site-pusher {
        transform: translateX($menu-width);
    }
    .menu {
      padding-top: 66px;
    }
    .menu a:hover {
      background-color: #485361;
      color: #fff;
    }
}

.with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.site-pusher,
.site-container {
    height: 100vh;
}

.site-pusher {
    transform: translateX(0px);
    transition-duration: 0.3s;
}

.site-container {
    overflow: hidden;
}

.site-content {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
    //padding-top: 0;
    overflow-y: scroll;
    -webit-overflow-scrolling: touch;
}

.logo {
    img {
        margin-top: 10px;
    }
}


.l-header--bg {
    background: url(../img/header.jpg) center top no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    //height: rem-convert("rem", 500px);
    height: 250px;
    position: relative;
}
.header-baseline {
    line-height: 1.4;
    padding-top: 30%;
    text-align: center;
    color: lighten(#000,20%);
    font-size: rem-convert("rem", 20px);

    top: 50%;
    &-l1 {
        font-weight: bold;
        strong {
            color: #e74c3c;
        }
    }
    &-l2 {
        font-family: $kreon;
        font-weight: normal;
    }
}
.down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 50px;
    img {
      width: 100%;
      animation: arrow 1s ease-in-out infinite alternate;
    }

}
@keyframes arrow {
    from {
      opacity: 1;
      margin-top: 0;
    }

    to {
      opacity: .2;
      margin-top: 2rem;
    }
  }

@media only screen and (min-width: 320px){
  $menu-width: 180px;

    .menu{
      width: $menu-width;

    }
    .with--sidebar {
        .site-pusher {
            transform: translateX($menu-width);
        }
    }
    .header-baseline {
      line-height: 1.7;
      font-size: 23px;
     // padding-top: 20%;
    }
    .l-header--bg {
      height: 380px;
    }

}
@media only screen and (min-width: 576px){
  $menu-width: 200px;

  .header-baseline {
    line-height: 2;
    padding-top: 20%;
    font-size: 27px;
  }
  .down-arrow{
    margin-top: 50px;
  }
  .l-header--bg {
    height: 430px;
  }
}

@media only screen and (min-width: 770px) {
  .with--sidebar {
      .site-pusher {
          transform: none;
      }
      .site-cache{
        display: none;
      }
  }
.menu {
  display: flex;
  justify-content: flex-end;
  position: static;
  width: 100%;
  transform: translateX(0);
  padding-top: 0;
    a{
      font-size: 18px;
      display: inline-block;
      padding: 10px;
      border: none;
      color: #fff;
      font-weight: normal;
    }
  }
  .menu > a {
    border-top: none;
  }
  .menu-icon{
    visibility: hidden;
  }
  .down-arrow {
    margin-top: 175px;
  }
  .l-header--bg {
    height: 500px;
  }
  .header-baseline {
    font-size: rem-convert("rem", 35px);
    line-height: 1.6;
   // padding-top: 20%;
  }
  @include menu-hover();
}

@media only screen and (min-width: 992px) {
  .menu {
    margin-right: 15px;
  }
   div.l-container {
    width: 1000px;
    margin: 0 auto;
  }
  .l-header--bg {
    height: 550px;
  }
  .down-arrow {
      margin-top: 175px;
    }
  .header-baseline {
      //font-size: rem-convert("rem", 45px);
      line-height: 1.6;
      font-size: 40px;
      padding-top: 20%;
    }
}
