/* ==|====================
   Layout/Main
   ======================= */

@mixin triangle-left($size, $color) {
    display: inline-block;
    vertical-align: middle;
    border-top: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: 10px solid $color;
    margin-right: 5px;
    margin-left: 5px;
}
.about {
  height: 800px;
}
.section-title {
    position: relative;
}
.detail-info-title {
  display: none;
}

.section-title-bare {
    position: absolute;
    width: rem-convert("rem", 95px);
    height: rem-convert("rem", 5px);
    background-color: $second-color;
    left: 50%;
    transform: translateX(-50%);
}

.portrait {
    margin-top: rem-convert("rem", 30px);
    text-align: center;
}

.description {
    margin-bottom: 20px;
    position: relative;
    height: 320px;
    .surname {
        text-align: center;
        font-weight: bolder;
        margin-top: 0;
    }
    p {
        //padding-left: rem-convert("rem", 48px);
        //padding-right: rem-convert("rem", 48px);
        padding: 0 0 0 1px;
        text-align: justify;
    }
    .detail {
        //padding: 0 rem-convert("rem", 48px) rem-convert("rem", 23px) rem-convert("rem", 48px);
        text-align: center;
        font-weight: bold;
        line-height: .9;
        strong {
            color: #cd2542;
            text-decoration: underline;
            &:hover {
                color: $second-color;
                text-decoration: none;
                transition: color 0.3s;
            }
        }
        &-info {
            &::before {
                content: '';
                @include triangle-left(rem-convert("rem", 7px), $second-color);
            }
        }
    }
}

.surname {
    font-size: 30px;
    margin-bottom: 0;
}
@include screen(rem-convert("rem", 320px),
rem-convert("rem", 480px)){
  .description {
    p{
      padding-left: rem-convert("rem", 48px);
      padding-right: rem-convert("rem", 48px);
    }
  }
}
@include screen(rem-convert("rem", 480px),
rem-convert("rem", 576px)){
  .description {
    p{
      padding-left: rem-convert("rem", 48px);
      padding-right: rem-convert("rem", 48px);
    }
    .detail-tel {
      margin-bottom: 45px;
    }
  }

}
@include screen(rem-convert("rem", 577px),
rem-convert("rem", 768px)){
    .description {
      p{
        padding-left: rem-convert("rem", 48px);
        padding-right: rem-convert("rem", 48px);
      }
      .detail-tel {
        margin-bottom: 50px;
      }
    }
}
@include screen(rem-convert("rem", 769px),
rem-convert("rem", 992px)){
  .presentation {
    display: flex;

    //justify-content: space-around;
    .description {
      p{
        padding-right: 15px;
      }
      .surname {
        text-align: left;
      }
      .detail-tel {
        margin-bottom: 50px;
      }
    }
  }
  .about {
    height: 450px;
  }
  .portrait {
    margin-top: 0;
  }

}
@include screen(rem-convert("rem", 993px),
rem-convert("rem", 1199px)){
  .presentation {
    display: flex;

    //justify-content: space-around;
    .description {
      p{
        padding-right: 15px;
      }
      .surname {
        text-align: left;
      }
      .detail-tel {
        margin-bottom: 50px;
      }
    }
  }
  .about {
    height: 450px;
  }
  .portrait {
    margin-top: 0;
  }
}
@include min-screen(rem-convert("rem", 1200px)){
  .presentation {
    display: flex;

    //justify-content: space-around;
    .description {
      p{
        padding-right: 15px;
      }
      .surname {
        text-align: left;
      }
      .detail-tel {
        margin-bottom: 50px;
      }
    }
  }
  .about {
    height: 450px;
  }
  .portrait {
    margin-top: 0;
  }
}
// @include screen(rem-convert("rem", 320px), rem-convert("rem", 639px)) {
//     body {
//         font-size: 13px;
//     }
//     .about {
//         height: auto;
//     }
//     .description {
//         .detail-info::before {
//             content: none;
//         }
//     }
//     .section-title {
//         font-size: 25px;
//     }
//     .surname {
//         font-size: 22px;
//     }
// }

// @include screen(rem-convert("rem", 640px), rem-convert("rem", 850px)) {
//     .section-title {
//         font-size: 33px;
//     }
//     .presentation {
//         display: flex;
//         justify-content: space-between;
//     }
//     .portrait img {
//         max-width: 100%;
//         height: auto;
//         display: block;
//         flex-basis: 40%;
//     }
//     .description {
//         flex-basis: 55%;
//         height: 380px;
//         p {
//             //padding-right: 0;
//             padding-left: 0;
//         }
//     }
//     .description .surname {
//         text-align: left;
//     }
// }

// @include screen(rem-convert("rem", 851px), rem-convert("rem", 1023px)) {
//     .section-title {
//         font-size: 33px;
//     }
//     .portrait {
//         margin-top: 0;
//     }
//     .presentation {
//         display: flex;
//         justify-content: space-between;
//     }
//     .description .surname {
//         padding-left: 45px;
//         text-align: left;
//         font-size: 27px;
//     }
// }

// @include min-screen(rem-convert("rem", 1024px)) {
//     .section-title {
//         font-size: 33px;
//     }
//     .portrait {
//         margin-top: 0;
//     }
//     .presentation {
//         display: flex;
//         justify-content: space-between;
//     }
//     .description .surname {
//         padding-left: 45px;
//         text-align: left;
//         font-size: 27px;
//     }
// }
