.works {
    //padding: 0 48px;
    &-description {
        text-align: center;
        padding: rem-convert('rem', 10px);
        font-weight: normal;
    }
}
.realisation a img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .works-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .realisation {
    margin: 0 28px 0 28px;
    a {
      width: 48%;
    }
  }

  
}
@media only screen and (min-width: 992px) {
  .works-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .realisation a {
    width: 23%;
  }
}

  
