.works {
    //width: 300px;
    padding: 0 48px;
    &-description {
        padding: 0 rem-convert('rem', 48px) 0 rem-convert('rem', 48px);
        font-weight: normal;
        text-align: center;
    }
}

.realisation {
    text-align: center;
    img {
        padding: 10px;
    }
}

@include screen(rem-convert("rem", 640px), rem-convert("rem", 850px)) {
    .realisation {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            display: block;
            width: 46%;
        }
    }
}