@viewport {
    width: device-width;
}

// VARIABLES
$font-family: "open sans";
//$color-link: blue;
$bgc-color: #f3f3f3;
$second-color: #ff4800;
$skills-color: #012;
html {
    //background-color: $color-background;
    box-sizing: border-box;
    height: 100%;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $bgc-color;
    //color: $color-text;
    font-family: $font-family;
    min-height: 100%;
    //overflow-x: hidden;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

a {
    //background: transparent;
    color: inherit;
    text-decoration: none;
    transition: color .2s;
}

.section-title {
    margin-top: rem-convert("rem", 60px);
    text-align: center;
    font-size: rem-convert("rem", 30px);
}

.dark-section-title {
    color: $bgc-color;
    padding-top: rem-convert("rem", 20px);
}

.container {
    width: rem-convert("rem", 545px);
    margin: 0 auto;
}