@viewport {
    width: device-width;
}

// VARIABLES
$font-family: "open sans";
$color-link: blue;
html {
    //background-color: $color-background;
    box-sizing: border-box;
    height: 100%;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    //color: $color-text;
    font-family: $font-family;
    min-height: 100%;
    //overflow-x: hidden;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

a {
    //background: transparent;
    color: $color-link;
    //text-decoration: none;
    //transition: color .2s;
}