.btn {
    display: inline-block;
    width: rem-convert('rem', 118px);
    border: 1px solid $second-color;
    padding: rem-convert('rem', 5px);
    text-align: center;
    &:hover {
        color: $bgc-color;
        background-color: rgba(#f39c12, 1);
        border-radius: rem-convert('rem', 5px);
        ;
    }
}

.btn-more {
    font-weight: bold;
    height: rem-convert('rem', 32px);
    line-height: rem-convert('rem', 32px);
    font-size: rem-convert('rem', 13px);
    position: absolute;
    right: rem-convert('rem', 48px);
    bottom: rem-convert('rem', 17px);
    margin-top: rem-convert('rem', 10px);
    margin-bottom: rem-convert('rem', -45px);
}

.btn-send {
    font-weight: bold;
    font-size: rem-convert('rem', 13px);
    ;
    height: rem-convert('rem', 37px);
    ;
}

@include screen(rem-convert("rem", 640px), rem-convert("rem", 850px)) {
    .btn-more {
        right: 0;
        left: -180px;
        // top: 0;
        bottom: 65px;
    }
    .btn-send {
        position: absolute;
        right: 6.5%;
    }
}

@include screen(rem-convert("rem", 851px), rem-convert("rem", 1023px)) {
    // .btn-more {
    //     right: 0;
    //     left: -180px;
    //     // top: 0;
    //     bottom: 65px;
    // }
    .btn-send {
        position: absolute;
        right: 5%;
    }
}