.inpu-error {
    display: block;
    font-size: 14px;
    color: red;
}

.shake {
    animation: shake .82s cubic-bezier(.36, .07, .19, .97);
    background-color: pink;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        border-color: #F44336;
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}